
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    background-color: #D7BDE2;
    
}


.navbar {
    background-color: #D7BDE2;
    height: 100px;
    padding-bottom: 10px;
}

ul.main-nav {
    display: none;
    list-style-type: none;
    text-align: center;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

li.nav-link, .logo {
    text-decoration: none;
    color: hsl(0, 83%, 49%);
}

.logo {
    display: inline-block;
    height: 100px;
    width: 100px;
    font-size: 22px;
    margin-left: 5px;
}

a{
    text-decoration: none;
}

.navbar-toggle {
    position: absolute;
    
    top: 27px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}