<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,user-scalable=no" />
        <meta name="HandheldFriendly" content="true">
        <link rel="stylesheet" href="/static/main.css" />
        <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
        <title>Anthony's Portfolio</title>
    </head>

    <body>
        
        <div class="topnav" id="Topnav">
            <span class="navbar-toggle" id="js-nav-toggle" >
                <i class="fa fa-bars fa-2x"></i>
            </span>
                <nav class="navbar">
                    <a class="logo" href="/index.html"><img class="logo" src="/logos/ant-ale-logo.png"></a><!--<img class="logo" src="port-logo.png">-->
                    <ul class="main-nav" id="js-main-menu">
                        
                        <li class="nav-link">
                            <a href="./about.html">About</a>
                        </li>
                        <li class="nav-link">
                            <a href="./contact.html">Contact</a>
                        </li>
                    </ul>
                    
                </nav>

        </div>
        
        <section class="contact-container">
            <div class="contact">
                <h1>Contact Me</h1>
                <p>I'd love to hear from you! I'll get back to you as soon as possible.</p>
                
            
        
                <!-- Optional: Additional contact details -->
                <div class="additional-info">
                    <p>Email: anthonyaleman4@gmail.com</p>
                    <p>Phone: +1 978335-8821</p>
                    <p>Github-Username: <a href="https://github.com/anthony-aleman">anthony-aleman</a></p>
                </div>
            </div>
            
        </section>
    
        

        <script rel="text/javascript" src="/static/index.js"></script>
    </body>
    

</html>